:root {
	--main_padding: 150px;
	--main_green: #26643b;
	--main_green2: #a2de96;
	--lightgreen1: #d6e5d8;
	--lightgreen2: #f5fcf4;
	--black1: #3b413a;
	--black2: #3f3c3c;
	--black3: #5b6359;
	--white1: #e8e8e8;
	--main_transition: 0.3s;
}
.menu {
	padding-top: 50px;
	padding-bottom: 50px;
}
.menu .container,
.menu .container .boxes ,
.menu .container .boxes .box{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.menu .container .boxes {
	width: 100%;
    margin-top: 50px;
    gap: 50px;
}
.menu .container h3 {
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--black1);
}

.menu .container .box > h3 {
	font-size: 1.4rem;
	font-weight: 600;
}
.menu .container .specials .items {
	display: flex;
	flex-direction: row;
	gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.menu .container .specials .items .item {
    min-width: 300px;
    flex: 1;
    min-height: 250px;
}
.menu .container .specials .items .item > img {
	max-width: 60%;
	border-radius: 10px;
   
}

.menu .container .box .items {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
}
.menu .container .specials .items .item .content img{
    width: 120px;
}
.menu .container .specials .items .item .content span:first-child{
    font-size: 1.75rem;
    font-family: "Poppins" , sans-serif;
}
.menu .container .specials .items .item .content span:last-of-type{
    color: var(--main_green);
    font-weight: bold;
    font-size: 1.5rem;
}
.menu .container .box .items .item > img{
    width: 180px;
    height: 120px;
    border-radius: 10px;
}
.menu .container .item {
	padding: 20px;
	background-color: var(--lightgreen1);
	flex: 1;
	border-radius: 10px;
    display: flex;
    gap: 10px;
}
.menu .container .item .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu .container .item .content h4{
    font-size: 1.4rem;
    font-weight: 100;
    width: 100%;
    font-family: "Poppins" , sans-serif;
    color: var(--black2);
}
.menu .container .item .content img{
    width: 100px;
}